@import "tailwindcss";

/* Custom root styles */
body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding-top: 8px; /* adjust if your menu height changes */
  background: #f9f9f9;
}
